In [1]:
import pandas as pd
df = pd.read_csv('master_dataframe.csv')
df.head()

,Unnamed: 0,households,sex,occupation_name_x,sex_of_spouse,occupation_name_y,count
0,0,5200,2,Elementary and middle school teachers,1.0,Elementary and middle school teachers,1748
1,1,5200,2,Secretaries and administrative assistants,1.0,Elementary and middle school teachers,246
2,2,5200,1,First-line supervisors of retail sales workers,2.0,Elementary and middle school teachers,493
3,3,5200,1,Postsecondary teachers,2.0,Elementary and middle school teachers,359
4,4,5200,1,Physicians and surgeons,2.0,Elementary and middle school teachers,177

In [3]:
df.shape

(48486, 7)